{% extends 'enq/base.html' %}
{% block content %}
<h1>answer</h1>

<div class="display"></div>

<script>
  const display = document.getElementsByClassName('display')[0];
  let formatId = {{question.0.format_id | safe}};
  let formatArray = [];
  // form を動的に生成
  let form = document.createElement('form');
  form.insertAdjacentHTML('afterbegin', `{% csrf_token %}`);


  form.action = "{% url 'enq:answer' enq_id %}"
  form.method = "POST";
  let cnt = 0;
  let ancItem = '';

{% for que in question %}
  // formatArray.push({{que.format_id}});
  switch ({{que.format_id}}){
    case 1:
      form.insertAdjacentHTML('beforeend', `{{que.question}}<br>`);
      {% for item in que.items.all %}
        form.insertAdjacentHTML('beforeend', `<label><input type="radio" name="ans${cnt}" value="{{item}}" />{{item}}</label>`);
        form.insertAdjacentHTML('beforeend', `<input type="hidden" name="que_id${cnt}" value="{{que.question_id}}" />`);
      {% endfor %}
      form.insertAdjacentHTML('beforeend', `<br>`);
      break;
    case 2:
      form.insertAdjacentHTML('beforeend', `{{que.question}}<br>`);
      {% for item in que.items.all %}
        form.insertAdjacentHTML('beforeend', `<label><input type="radio" name="ans${cnt}" value="{{item}}">{{item}}</label>`);
        form.insertAdjacentHTML('beforeend', `<input type="hidden" name="que_id${cnt}" value="{{que.question_id}}" />`);
      {% endfor %}
      form.insertAdjacentHTML('beforeend', `<br>`);
      break;
    case 3:
      form.insertAdjacentHTML('beforeend', `{{que.question}}<br>`);
      form.insertAdjacentHTML('beforeend', `<input type="text" name="ans${cnt}" value=""><br/>`);
      form.insertAdjacentHTML('beforeend', `<input type="hidden" name="que_id${cnt}" value="{{que.question_id}}">`);
      break;
    default:
      console.log('default');
  }
  cnt++;
{% endfor %}
// console.log(formatArray);
form.insertAdjacentHTML('beforeend', `<input type="hidden" name="cnt" value="${cnt}">`)
form.insertAdjacentHTML('beforeend', `<input type="submit" value="送信">`)
display.appendChild(form);

</script>
{% endblock %}