{% extends 'enq/base.html' %}
{% block content %}

<main>
  <div class="title">{{enquete.title}}</div>
  <div id="input">
    <form action="{% url 'enq:create' enq_id %}" method="post">
      {% csrf_token %}
    <label>質問<span>*</span>: <input type="text" name="question" /></label><br>
    <label>形式<span>*</span>:
    <select id="format" name="format" onchange="selectDetail()">
      <option value="1">選択(2択)</option>
      <option value="2">選択(3択以上)</option>
      <option value="3">自由記述</option>
    </select>
  </label>
  <br><div id="sd"></div>
    <label>順番<span>*</span>: <input type="number" name="order_no"/></label><br />
    <button id="submit" type="submit">登録</button>
    </form>
  </div>

  <a href="{% url 'enq:answer' enq_id %}">アンケートを実施</a>
  <table>
    <tr>
      <th id="questionLabel">質問</th>
      <th>形式</th>
      <th>順番</th>
    </tr>
    {% for que in question %}
    <tr>
      <td>{{que.question}}</td>
      <td>{{que.format_id.format}}</td>
      <td>{{que.order_no}}</td>
    </tr>
    {% endfor %}
  </table>
</main>
{% load static %}
<script src="{% static 'js/script.js' %}"></script>

   
{% endblock %}